
:root{
    --primary-color:#4C243B;
    --secondary-color:#AC7884;
    --auxilliary-color:#fff;
    --padding-horizontal:100px;
    --padding-vertical: 10px;
    --card-background-color:#ffeff2;
}
body h1,h3,p{
    margin:0;
  font-family:"Poppins", sans-serif;
}
nav{
    background-color:var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: 10px;
    padding-bottom: 10px;    
}
nav>div>a{
    color: white;
    text-decoration: none;
    margin-right: 4px;
}
nav>div>h1{
    color: #fff;
    margin-left: 4px;
}
.logo{
    display: flex;
}
#homesection{
    display: flex;
    padding-left: var(--padding-horizontal);
    padding-right: var(--padding-horizontal);
    padding-top: var(--padding-vertical);
    padding-bottom: var(--padding-vertical);
    height: 80vh;
    align-items:center;
     
}
#homesection>img{
    aspect-ratio: 1/1;
    width: 300px;
    height: 300px;
    border-radius:50%;

}
#homesection>div{
    padding-left: 120px;
    width: 50vw;
}
#homesection>div>h1{
    font-size: 64px;
    color: var(--primary-color);
}
#homesection>div>p{
    font-size: 16px;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 300;
    color: var(--secondary-color);
}
#homesection>div>button{
    all:unset;
    background-color: var(--primary-color);
    color: #fff;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 50px;
    transition: 1s;
}
#homesection>div>button:hover{
    background-color: #AC7884;
    color: var(--primary-color);
    cursor: pointer;
}
#myprojectsection>div>h1{
    color: var(--primary-color);
    font-size: 40px;
    text-align: center;
}
#myprojectsection>div>p{
    color: var(--secondary-color);
    font-weight: 350;
    text-align: center;
    margin: 0;
}
#myprojectsection>div>.card{
    background-color: var(--card-background-color);
    width: 311px;
    height: 366px;
    border-radius:30px;
    margin: 12px;
    padding: 10px;
    color: crimson;
}
#myprojectsection>div>.card>img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 300px;
    height: 300px;
    border-radius:50%;
}
#myprojectsection>div>.card >button{
    background-color: var(--secondary-color);
    color:blue;
    padding-left: 22px;
    width: 200px;
    height: 18px;
    aspect-ratio: 1/1;
    text-align: center;
    object-fit: cover;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 12px;
    border-radius: 40px;
    transition: 1s;
    cursor: pointer;
    }
#myprojectsection>.projects{
        display: flex;
        padding-left: var(--padding-horizontal);
        padding-right: var(--padding-horizontal);
        padding-top: 20px;
        padding-bottom: 20px;
        padding: 30px;
    }
#myprojectsection>div>.card>button:hover{
    background-color: #AC7884;
    color: var(--secondary-color);
    cursor: pointer;
    padding-bottom: 15px;
    font-size: larger;

}
#myprojectsection>div>.card >h3{
     font-size: 20px;
    color: var(--primary-color);
    margin-top: 16px;
    text-align: center;
}
#myprojectsection>div>.card>p{
    font-size: 5px;
    color: var(--secondary-color);
    margin-top: 10px;
    font-size: medium;
    font-weight: lighter;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#contactsection{
    padding-left: var(--padding-horizontal);
    padding: var(--padding-horizontal);
    height: 60vh;
}
#contactsection > form{
    padding:24px;
    background-color: var(--secondary-color);
    border-radius: 30px;
    width:60vw;
    margin: auto;
}

#contactsection > form >div{
    margin-top: 16px;

}
#contactsection > form > h3{
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--primary-color);
}
#contactsection > form >div >{
    margin-top: 16px;
    padding-left: 12px;
    padding-right: 12px;
}

#contactsection > form > .usernameemail, .useragebirth{
    display: flex;
}
#contactsection > form> .usernameemail, .useragebirth> div> label{
    font-weight: 500;
    color: var(--primary-color);
}

#contactsection > form > div >label{
    font-weight: 500;
    color:white;
}

#contactsection > form > .usernameemail> div >input{
    all: unset;
    border-radius: 12px;
    width: 25vw;
    background-color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    height: 30px;
    color: gray;
}
#contactsection > form > .useragebirth> div >input{
    all: unset;
    border-radius: 12px;
    width: 25vw;
    background-color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    height: 30px;
    color: gray;
}
#contactsection > form > .userfilemessage> div >input{
    all: unset;
    border-radius: 12px;
    width: 25vw;
    background-color:white;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 12px;
    height: 30px;
    color: gray;

#contactsection > form > div >textarea{
    border-radius: 12px;
    background-color: #fff;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 14px;
    color: gray;
}
#contactsection> form>div>input{
    background-color: var(--secondary-color);
    color:blue;
    padding-left: 22px;
    width: 200px;
    height: 18px;
    aspect-ratio: 1/1;
    text-align: center;
    object-fit: cover;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 12px;
    border-radius: 40px;
    transition: 1s;
    cursor: pointer;
}
#contactsection>form>input>button:hover{
    background-color: #AC7884;
    color: var(--secondary-color);
    cursor: pointer;
    padding-bottom: 15px;
    font-size: larger;
    transition: 1s;
    justify-content: center;
    cursor: pointer;
}

